images/**
icon/raw.png
icon/512-blue-rounded.png
icon/512-blue-square.png
justfile
.mise.toml

.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.gitignore
.yarnrc
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/.vscode-test.*
